*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}

@media (max-width:640px) {
    .header .navlist {
        display: none;

    }

    .header .header-cta {
        display: none;
    }

    .header .menuicon {
        display: block;
    }
}

/*Hero Section*/
@media (max-width:640px) {
    .hero {
        margin: 0;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffc501' fill-opacity='0.18'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


    }

    .hero-details-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-details-left>span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        width: 320px;
        font-size: 12px;


    }

    .hero-details-left h1 {
        font-size: 2.8rem;
        width: 400px;
        text-align: center;

    }

    .hero .hero-details-left p {
        font-size: 0.9rem;
        text-align: center;
        width: 350px;
    }

    .hero .hero-left-cta {
        flex-direction: column;

    }

    .hero .hero-left-cta .cta1 button {
        width: 340px;
    }

    .hero .hero-left-cta .cta2 button {
        background-color: #ffffff;
        width: 340px;
    }

    .hero-details-left .hero-botton-left {
        justify-content: center;
        align-items: flex-start;
        width: 300px;
    }

    .hero-details-right .hero-img {
        display: none;

    }

    .hero-details-right .hero-img1 {
        display: block;
    }

    .hero-details-right .hero-img1 img {
        max-width: 350px;
        height: auto;
        display: block;
        margin: 2rem auto;
        border-radius: 10px;

    }
}

/* Service Section */
@media (max-width: 640px) {
    .services {
        margin: auto;
        height: auto;
        padding-bottom: 5rem;

    }


    .services .service-header h1 {
        margin-top: 8rem;
        font-weight: 700;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }

    .services .service-header p {
        font-size: 1rem;
        width: 320px;
        text-align: center;
        margin-top: 1rem;

    }

    .services .service-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }

    .services .service-container .service-card {
        width: 320px;
        max-width: 100%;
    }

    .services .service-container .service-card h2 {
        font-size: 1.2rem;
        width: 250px;
    }

    .services .service-container .service-card p {
        font-size: 0.9rem;
        width: 250px;
    }

    .services .service-container .service-card li {
        font-size: 0.8rem;
    }

    .service-card .card-cta button {
        width: 250px;
        padding: 10px;
        font-size: 0.9rem;
    }



}

/* Why choose us section */
@media (max-width: 640px) {
    .why-choose {
        margin: auto;
        height: 100%;
        padding-bottom: 3rem;
    }

    .why-choose .why-choose-header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .why-choose .why-choose-header p {
        font-size: 1rem;
        width: 320px;
    }

    .why-choose .why-choose-container {
        flex-direction: column;

    }

    .why-choose-container .why-choose-card {
        width: 340px;
        height: 300px;

    }

    .why-choose-card p {
        font-size: 1rem;

    }

    .why-choose .why-count {
        height: 100%;
    }
}

/* How It Works */
@media (max-width: 640px) {
    .how-it-works {
        margin: auto;
        height: 100%;
        padding-bottom: 3rem;
    }

    .how-it-header {
        margin-top: 0;
    }

    .how-it-header h2 {
        margin-top: 3rem;
    }

    .how-it-header p {
        font-size: 1.1rem;
        width: 340px;
        text-align: center;
    }

    .how-it-container {
        flex-flow: column wrap;
        gap: 25px;
    }

    .how-it-container .how-it-card {
        min-height: 300px;
        width: 350px;
    }
}

@media (max-width: 640px) {
    .review {
        margin-top: 0;
    }

    .review-header {
        margin-top: 0;
    }

    .review-header h2 {
        font-size: 1.5rem;
    }

    .review-header p {
        font-size: 1.1rem;
        width: 350px;
    }
}