*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}

@media (max-width:640px) {
    .header .navlist {
        display: none;

    }

    .header .header-cta {
        display: none;
    }

    .header .menuicon {
        display: block;
    }
}

/*Hero Section*/
@media (max-width:640px) {
    .hero {
        margin: 0;
        text-align: center;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .hero-details-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-details-left>span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        width: 320px;
        font-size: 12px;


    }

    .hero-details-left h1 {
        font-size: 2.8rem;
        width: 400px;
        text-align: center;

    }

    .hero .hero-details-left p {
        font-size: 0.9rem;
        text-align: center;
        width: 350px;
    }

    .hero .hero-left-cta {
        flex-direction: column;

    }

    .hero .hero-left-cta .cta1 button {
        width: 340px;
    }

    .hero .hero-left-cta .cta2 button {
        width: 340px;
    }

    .hero-details-left .hero-botton-left {
        justify-content: center;
        align-items: flex-start;
        width: 300px;
    }

    .hero-details-right .hero-img {
        display: none;

    }

    .hero-details-right .hero-img1 {
        display: block;
    }

    .hero-details-right .hero-img1 img {
        max-width: 350px;
        height: auto;
        display: block;
        margin: 2rem auto;
        border-radius: 10px;

    }
}

/* Service Section */
@media (max-width: 640px) {
    .services {
        margin: auto;
        height: 100%;

    }


    .services .service-header h1 {
        margin-top: 8rem;
        font-weight: 700;
        font-size: 2rem;
        width: 300px;
        text-align: center;
    }

    .services .service-header p {
        font-size: 1rem;
        width: 320px;
        text-align: center;
        margin-top: 1rem;

    }

    .services .service-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;


    }

    .services .service-container .service-card {
        width: 320px;
        max-width: 100%;
    }

    .services .service-container .service-card h2 {
        font-size: 1.2rem;
        width: 250px;
    }

    .services .service-container .service-card p {
        font-size: 0.9rem;
        width: 250px;
    }

    .services .service-container .service-card li {
        font-size: 0.8rem;
    }

    .service-card .card-cta button {
        width: 250px;
        padding: 10px;
        font-size: 0.9rem;
    }



}

/* Why choose us section */
@media (max-width: 640px) {
    .why-choose {
        margin: auto;
        height: 100%;
    }

    .why-choose .why-choose-header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .why-choose .why-choose-header p {
        font-size: 1rem;
        width: 320px;
    }

    .why-choose .why-choose-container {
        flex-direction: column;

    }

    .why-choose-container .why-choose-card {
        width: 340px;
        height: 300px;

    }
    .why-choose-card p {
        font-size: 1rem;
        
    }
    .why-choose .why-count {
        height: 100%;
    }
}